<section id="main-upload-container">
    <div id="upload-header">
        <h2>QSF</h2>
        <h4>CHRISTMAS PARTY 2018</h4>
    </div>
    <div id="upload-section" *ngIf="currentState === 'NOT_STARTED'">
        <div id="uploader">
            <div class="cloud" *ngIf="previewUrl === ''"></div>
            <div class="description" *ngIf="previewUrl === ''">UPLOAD A PHOTO HERE</div>
            <button class="image-selection" (click)="chooseFile()" *ngIf="previewUrl === ''">SELECT IMAGE</button>
            <div class="image-preview" [style.background-image]="'url(' + previewUrl + ')'" *ngIf="previewUrl !== ''"></div>
            <button class="image-change" (click)="chooseFile()" *ngIf="previewUrl !== ''">CHANGE IMAGE</button>
            <input #hiddeninput id="hidden-input" (change)="onSelectFile($event)" type="file" multiple style="display: none;" accept="image/*">
        </div>
        <form id="caption" [formGroup]="imageForm">
            <textarea formControlName="caption" placeholder="Enter a caption (max 280 characters)" maxlength="280"></textarea>
        </form>
        <button id="upload" [disabled]="!imageForm.valid  || imageFile === ''" (click)="uploadItem()">UPLOAD</button>
    </div>
    <div id="process-section" *ngIf="currentState === 'UPLOADING'">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
        <div class="description">UPLOADING</div>
    </div>
    <div id="post-upload-section" *ngIf="currentState === 'SUCCESS' || currentState === 'FAILED'">
        <div class="icon success" *ngIf="currentState === 'SUCCESS'"></div>
        <div class="icon failed" *ngIf="currentState === 'FAILED'"></div>
        <div class="status" *ngIf="currentState === 'SUCCESS'">SUCCESS!!!</div>
        <div class="status" *ngIf="currentState === 'FAILED'">PLEASE TRY AGAIN</div>
        <button id="start-again" (click)="resetForm()">START AGAIN</button>
    </div>
</section>