/* You can add global styles to this file, and also import other style files */

html,
body {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

* {
    margin: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
    outline: none;
}

a {
    color: inherit;
}

::-webkit-scrollbar-track {
    background: #a1a1a1;
    height: 5px;
    z-index: 20;
}

::-webkit-scrollbar {
    height: 5px;
    z-index: 20;
}

::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: 50px;
    border: black solid 1px;
    z-index: 20;
}