/* You can add global styles to this file, and also import other style files */

html,
body {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

* {
    margin: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
    outline: none;
}

a {
    color: inherit;
}