@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/base';
$main-width: 95vw;
$queue-container-width: 12.5vw;
#main-slide-show-container {
    width: 100vw;
    height: 100vh;
    background: black;
    font-family: $roboto-font;
    @include column-center;
    justify-content: flex-start;
    #slide-show-header {
        width: $main-width;
        height: auto;
        @include column-center;
        color: white;
        border-bottom: $dark-pink solid 2px;
        padding: 4vh 0;
        h2 {
            letter-spacing: 9px;
            font-weight: bold;
            font-size: 30pt;
        }
        h4 {
            font-weight: normal;
            margin-top: 0.75vh;
            letter-spacing: 6px;
            font-size: 18pt;
        }
    }
    #message {
        color: white;
        font-size: 16pt;
        letter-spacing: 4px;
        font-weight: 300;
        color: #ddd;
        margin-top: 2vh;
        a {
            font-weight: bold;
            color: white;
            text-decoration: none;
            letter-spacing: 2px;
        }
    }
    #slide-show-container {
        width: $main-width;
        height: 100%;
        @include row-center;
        padding: 4vh 0 4vh 0;
        .queue-container {
            width: $queue-container-width;
            height: 100%;
            @include column-center;
            justify-content: flex-start;
            align-items: flex-start;
            .block {
                width: $queue-container-width - 3.5vw;
                height: $queue-container-width - 3.5vw;
                position: relative;
                cursor: pointer;
                margin-top: 6.75vh;
                &:nth-child(1) {
                    margin-top: 0;
                }
                .block-background {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: white solid 1px;
                }
                .helper {
                    width: 100%;
                    color: $dark-pink;
                    position: absolute;
                    bottom: -30px;
                    font-size: 12pt;
                    font-weight: 500;
                    letter-spacing: 2px;
                }
            }
        }
        .image-container {
            width: $main-width - $queue-container-width;
            height: 100%;
            @include row-center;
            justify-content: space-between;
            .image {
                width: 45.5%;
                height: 100%;
                margin-right: 4.5%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            .description-section {
                width: 50%;
                height: 100%;
                @include column-center;
                align-items: flex-start;
                justify-content: space-between;
                color: white;
                .description {
                    width: 100%;
                    height: 80%;
                    @include row-center;
                    justify-content: flex-start;
                    font-size: 18pt;
                    font-weight: 300;
                    line-height: 175%;
                }
                button.next {
                    margin-top: auto;
                    margin-left: auto;
                    background: $dark-pink;
                    color: white;
                    margin-top: 1vh;
                    width: 175px;
                    padding: 1.5vh 0;
                    font-weight: bold;
                    border-radius: 5px;
                    border-color: transparent;
                    letter-spacing: 2px;
                    font-size: 12pt;
                }
            }
        }
    }
}

#slide-show-controller {
    position: fixed;
    width: 100vw;
    height: 15vh;
    bottom: 0;
    background: black;
    @include row-center;
    justify-content: space-between;
    div#item-list-container {
        width: 80vw;
        height: 100%;
        @include row-center;
        justify-content: flex-start;
        border-top: white solid 1px;
        padding: 1.5vh;
        overflow-y: hidden;
        overflow-x: scroll;
        .item {
            width: 12vh;
            height: 12vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 3vh;
        }
    }
    div#controller-container {
        width: 20vw;
        height: 100%;
        @include row-center;
        justify-content: space-between;
    }
}