<section id="main-slide-show-container">
    <div id="slide-show-header">
        <h2>QSF</h2>
        <h4>CHRISTMAS PARTY 2018</h4>
    </div>
    <div id="message">Upload your photos at <a href="">loremipsum.com</a></div>
    <div id="slide-show-container">
        <div class="queue-container">
            <div class="block" *ngIf="queueItem1">
                <div class="block-background" [style.backgroundImage]="'url('+ queueItem1.url +')'"></div>
                <div class="helper">{{queueItem1.caption}}</div>
                <!-- <div class="helper">NEXT PHOTO</div> -->
            </div>
            <div class="block" *ngIf="queueItem2">
                <div class="block-background" [style.backgroundImage]="'url('+ queueItem2.url +')'"></div>
            </div>
            <div class="block" *ngIf="queueItem3">
                <div class="block-background" [style.backgroundImage]="'url('+ queueItem3.url +')'"></div>
            </div>
        </div>
        <div class="image-container" *ngIf="currentItem">
            <div class="image" [style.backgroundImage]="'url('+ currentItem.url +')'"></div>
            <div class="description-section">
                <div class="description">
                    {{currentItem.caption}}
                </div>
                <button class="next" (click)="showNextItem()">NEXT</button>
            </div>
        </div>
    </div>
</section>
<section id="slide-show-controller" *ngIf="itemList" [ngClass]="{'show-controller': isControllerShown, 'hide-controller': !isControllerShown}">
    <div class="arrow" *ngIf="!isControllerShown">
        <i class="fas fa-chevron-up" (click)="isControllerShown = true"></i>
    </div>
    <div class="arrow" *ngIf="isControllerShown">
        <i class="fas fa-chevron-down" *ngIf="isControllerShown" (click)="isControllerShown = false"></i>
    </div>

    <div id="item-list-container">
        <div class="item" *ngFor="let item of itemList; let i = index" (click)="setClickedItem(item, i)" [class.selected-item]="i == selectedItemIndex" [style.backgroundImage]="'url('+ item.url +')'">
        </div>
    </div>
    <div id="controller-container">
        <i class="fas fa-bars" [class.disabled-button]="selectedItem === undefined" (click)="addItemToQueue()"></i>
        <i class="fas fa-play" [class.disabled-button]="selectedItem === undefined" (click)="addItemNext()"></i>
    </div>
</section>